
<div class="profiles">
  <% @profiles.each do |profile| %>

    <div class="row">

        <h3><span class="title">Name:</span> <%= profile.name %></h3>

        <p><span class="title">Age:</span> <%= profile.age %></p>

        <p><span class="title">Occupation:</span> <%= profile.occupation %></p>

        <p><span class="title">Family:</span> <%= profile.family %></p>

        <p><span class="title">Friends:</span> <%= profile.friends %></p>

        <p><span class="title">Favourites:</span> <%= profile.favourites %></p>

        <p><span class="title">Hobbies:</span> <%= profile.hobbies %></p>

        <form action="/profiles/<%= profile.id %>/edit" method="update">
          <button>Edit</button>
        </form>

        <form action="/profiles/<%= profile.id %>/delete" method="delete">
          <button>Delete</button>
        </form>

      </div>

  <% end %>

</div>