<div class="profiles">
<% @profiles.each do |profile| %>

    <div class="row">
      <h3><%= profile.name %></h3>
      <p><%= profile.age %></p>
      <p><%= profile.occupation %></p>
      <p><%= profile.family %></p>
      <p><%= profile.friends %></p>
      <p><%= profile.favourites %></p>
      <p><%= profile.hobbies %></p>
    </div>

  <% end %>
</div>